
POSTGRES_USER=postgres
POSTGRES_PASSWORD=123456
POSTGRES_DB=oauth_db
POSTGRES_PORT=5432

DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:${POSTGRES_PORT}/${POSTGRES_DB}"

# Geralmente 10-12
BCRYPT_SALT=12

JWT_ACCESS_SECRET_KEY=your_access_secret
JWT_REFRESH_SECRET_KEY=your_refresh_secret

# Exemplos:
# 15m
# 1h
# 7d
ACCESS_TOKEN_EXPIRES_IN=15m
REFRESH_TOKEN_EXPIRES_IN=7d

# Milissegundos
ACCESS_TOKEN_COOKIE_MAX_AGE_MS=1200000
REFRESH_TOKEN_COOKIE_MAX_AGE_MS=864000000


PORT=8080

REDIS_URL=redis://redis:6379
REDIS_PORT=6379
